<div id="angular">
  <h2>My Vending Machine</h2>
  <h4>Please choose a flavour and then click a payment method to finalize the payment</h4>
  <div class="stock">
    <div (click)="select(item.id)" *ngFor="let item of flavours; index as i;" class="flavour">
      <div [ngClass]="this.selectedId == item.id ? 'inner selected' : 'inner'">
        <div class="name">{{item.flavour}} flavour</div>
        <div class="price">${{item.price.toFixed(2)}}</div>
        <div class="amount" *ngIf="item.amount > 0; else outOfStock">{{item.amount}} available</div>
        <ng-template #outOfStock>
          <div class="amount">out of stock</div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="sell-methods">
    <button [disabled]="selectedId == 0" class="card btn-style-1" (click)="pay('card')">
      Pay By Card
    </button>
    <button [disabled]="selectedId == 0" class="cash btn-style-1"  (click)="pay('cash')">
      Pay By Cash
    </button>
  </div>
  <div class="income">
    <span>Cash: ${{cash.toFixed(2)}}</span>
    <span>Card: ${{card.toFixed(2)}}</span>
    <span>Cans left: {{getCansLeft()}}</span>
    <span>Cans left: {{getCansSold()}}</span>
  </div>
  <div class="restock">
    <button class="btn-style-1" (click)="restock()">Restock</button>
  </div>
</div>